test-service.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/wsdl">
  <wsdl:types>
    <xsd:schema targetNamespace="http://example.com/wsdl">
      <xsd:element name="TestRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Reply" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestRequestMessage">
    <wsdl:part name="parameters" element="tns:TestRequest"/>
  </wsdl:message>
  <wsdl:message name="TestResponseMessage">
    <wsdl:part name="parameters" element="tns:TestResponse"/>
  </wsdl:message>
  <wsdl:portType name="TestServicePortType">
    <wsdl:operation name="TestOperation">
      <wsdl:input message="tns:TestRequestMessage"/>
      <wsdl:output message="tns:TestResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceBinding" type="tns:TestServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TestOperation">
      <soap:operation soapAction="http://example.com/wsdl/TestOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestService">
    <wsdl:port name="TestServicePort" binding="tns:TestServiceBinding">
      <soap:address location="http://localhost:8080/TestService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
